@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Flash Cards</title>

    <meta charset="utf-8" />

    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="applicationHost">
        @Html.Partial("_splash")
    </div>

    @Scripts.Render("~/Scripts/vendor")

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
    }
    else
    {
        <script type="text/javascript" src="~/Scripts/require.js" data-main="/AppBuilt/main"></script>
    }
</body>
</html>